[Unit]
Description=A very simple, high performance, edge WebRTC SFU
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/unity-rust-sfu
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
